*
!*/

# DWM
!/.config/dwm/autostart.sh

# Git
!/.config/git/config

# GTK
!/.config/gtk-*/settings.ini
!/.config/gtk-*/bookmarks

# NVim
!/.config/nvim/init.vim
!/.config/nvim/codedark.vim

# Shell
!/.config/shell/aliases
!/.config/shell/exports
!/.config/shell/profile

# NPM
!/.config/npm/npmrc

# X11
!/.config/X11/xinitrc

# Zsh
!/.config/zsh/.zshrc
!/.config/zsh/.p10k.zsh

# Hotkeyer
!/.config/hotkeyer.conf

# Nano
!/.config/nanorc

# VSCode
!/.local/share/vscode/user-data/User/settings.json
!/.local/share/vscode/user-data/User/keybindings.json

# Scripts
!/.local/bin/**

!/.gitignore
!/.xinitrc